{% extends 'base.html.twig' %}

{% block title %}
    Register Product
{% endblock %}

{% block body %}
    <h1> Register Product</h1>
    <hr>
        {% include "produto/_form.html.twig" %}
{%  endblock %}